header{
    overflow-x: hidden;
    #tab2{
        z-index: 9999;
        padding: 1.2em;
        display: flex;
        justify-content: space-between;
        font-size: 1.2em;
        background: #ffffff;
        @include tablets{
            padding: 1.2em 7em;
        }
        // #logo{
        // }
        nav{
            ul{
                li{
                    margin: 0 10px;
                    font-size: 14px;
                }
            }
        }

    }
}
.fixedheader{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 -8px 10px rgba(0,0,0,0.4);
}