// viewports
$mobiles: 280px;
$tablets: 768px;
$desktop: 1100px;

@mixin mobile {
    @media (min-width: #{$mobiles}){
        @content;
    }
}
@mixin tablets {
    @media (min-width: #{$tablets}){
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}


main{
    overflow-x: hidden;
    section{
        padding: 1.2em;
        @include tablets{
            padding: 1.2em 3em;
        }
        p{
            font-size: 14px;
        }
        .heading{
            text-align: center;
            h1{
                color: #ff5722;
                margin-bottom: 10px;
            }
        }
    }
    #landing{
        height: calc(100vh - 120px);
        background: linear-gradient(90deg,#000000c5,#000000c5), url('../images/candle.jpg');
        background-size: cover;
        background-position: center;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        line-height: 1.4;
        @include tablets{
            height: 60vh;
        }
        h1{
            font-size: 1.2em;
            width: 80%;
            @include tablets{
                font-size: 2.4em;
            }
        }
        .heading{
            width: fit-content;
            margin: 1.1em 0;
            position: relative;
            padding-left: 50px;
            font-weight: bold;
            margin-bottom: .5em;
            &::after{
                position: absolute;
                height: 3px;
                width: 40px;
                content: '';
                background: #ff5722;
                left: 0;
                top: 50%;
            }
        }
        p{
            margin-bottom: 1.6em;
            width: 80%;
            @include tablets{
                width: 60%;
            }
        }
        .more-btn{
            position: relative;
            span{
                position: absolute;
                padding: 20px 0;
                display: inline-block;
                width: 120px;
                left: 0;
                &::after,&::before{
                    position: absolute;
                    content: '';
                    width: 50px;
                    height: 100%;
                    background-color: #ff5722;
                    top: 0;
                }
                &::after{                    
                    left: 40px;
                    transform: scaleX(1);
                    transform-origin: left;
                    transition: transform ease-in .2s;
                }
                &::before{
                    left: -10px;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform ease-in .2s;
                }
            }
            a{
                position: absolute;
                width: 100px;
                z-index: 1;
                color: #ffffff;
                font-weight: 400;
                font-size: 14px;
                padding: 10px 0;
                &:hover~span{
                    &::before{
                        transform: scaleX(1);
                        transform-origin: left;
                    }
                    
                    &::after{
                        transform: scaleX(0);
                        transform-origin: right;
                    }
                }
            }
        }
            
    }
    #featured{
        #featured_container{
            padding: 1.2em 0;
            @include tablets{
                padding: 1.2em 3em;
            }
            .row{
                display: flex;
                flex-direction: column;
                @include tablets{
                    flex-direction: row;
                }
                .col-md-4{
                    margin: 1.2em 0;
                    @include tablets{
                        margin: 0 1.2em;
                        padding: 1em 1.2em;
                    }
                    .col-row{
                        display: grid;
                        grid-template-columns: 2.4fr .6fr;
                        text-align: right;
                        @include tablets{
                            text-align: left;
                            grid-template-columns: 1fr 2.4fr;
                        }
                        .icon{
                            grid-column: 2/3;
                            @include tablets{
                                grid-column: 1/2;
                            }
                            i{
                                font-size: 2.6em;
                            }
                        }
                        .text{
                            grid-column: 1/2;
                            @include tablets{
                                grid-column: 2/3;
                            }
                            line-height: 1.2;
                            h2{
                                font-size: 14px;
                            }
                            p{
                                font-size: 12px;
                                margin: 8px 0 1.2em 0;
                            }
                            a{
                                color: #ff5722;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    #actions{
        background: rgba(0, 0, 0, 0.04);
        padding: 1.2em;
        @include tablets{
            padding: 3em;
        }        
        #services{
            display: flex;
            justify-content: center;
            align-items: center;
            .row{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
                @include tablets{
                    flex-direction: row;
                }
                .col{
                    margin: 2em 0;
                    @include tablets{
                        width: calc(100vw / 4);
                    }
                    .service-item{
                        display: flex;
                        flex-direction: row;
                        .service-icon{
                            width: 200px;
                        }
                        .service-text{
                            border-left: 2px solid rgba(0, 0, 0, 0.04);
                            padding-left: 1em;
                            position: relative;
                            &::before{
                                position: absolute;
                                content: '';
                                width: 3px;
                                height: 40px;
                                background: #ff5722;
                                left: -2.42px;
                                top: 25%;
                            }
                            h3{
                                font-size: 14px;
                                margin-bottom: .5em;
                            }
                            p{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    #blogs{
        padding: 1.2em;
        @include tablets{
            padding: 3em;
        }
        #blog-list{
            margin-top: 2em;
            .row{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @include tablets{
                    flex-direction: row;
                }
                .col{
                    @include tablets{
                        width: calc(100vw / 4);
                    }
                    .blog-item{
                        background: #f3f6ff;
                        margin: 1.2em 0;
                        .blog-template{
                            height: 40vh;
                            @include tablets{
                                height: 15vh;
                            }
                        }
                        .blog-template-1,.blog-template-2,.blog-template-3{
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                        }
                        .blog-template-1{
                            background: url('../images/blog-1.jpg');
                        }
                        .blog-template-2{
                            background: url('../images/blog-2.jpg');
                        }
                        .blog-template-3{
                            background: url('../images/blog-3.jpg');
                        }
                        .blog-text{
                            text-align: center;
                            padding: 1.2em;
                            font-size: 14px;
                            p{
                                font-size: 12px;
                                margin: .5em 0;
                            }
                        }
                        .blog-response{
                            font-size: 12px;
                            margin: 0 1.2em;
                            border-top: 2px solid #ffffff;
                            padding: 1.2em;
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            i{
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    #contacts{
        padding: 1.2em;
        @include tablets{
            padding: 3em;
        }
        #contact-container{
            margin: 3em 0;
            .row{
                @include tablets{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 1em;
                }
                p{
                    font-size: 12px;
                    margin: 1em 0;
                }
                .col{
                    ul{
                        flex-direction: column;
                        li{
                            font-size: 12px;
                            margin: .5em 0;
                        }
                    }
                    form{
                        display: flex;
                        flex-direction: column;
                        .input-group{
                            @include tablets{
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                grid-gap: 1em;
                            }
                        }
                        input[type="text"],input[type="email"],input[type="button"]{
                            padding: 10px;
                            border: 2px solid rgba(0,0,0,0.04);
                            border-radius: 4px;
                            width: 100%;
                            margin: 1em 0;
                        }
                        textarea{
                            resize: none;
                            border: 2px solid rgba(0,0,0,0.04);
                            margin: 1em 0;
                            padding: 10px;
                            border-radius: 4px;
                        }
                        input[type="button"]{
                            background-color: #ff5722;
                            color: #ffffff;
                            border: 2px solid #ff5722;
                            width: 35%;
                        }
                    }
                }
            }
        }
    }
}